@model MvcProjectDbConn.TimeSheetEntry

@{ 
    if (ViewBag.Error == true)
    {
        <p>You never punched in to punch out</p>
    }
    else
    {
        <p>You punched out at @DateTime.Now</p>
        <p>@Html.ActionLink("click here to see all TimeSheetEntries","UserIndex")</p>
    }
}
