@model MvcProjectDbConn.TimeSheetEntry
@{
    ViewBag.Title = "PunchOut";
}

<h2>PunchOut</h2>

@{

    if (ViewBag.Error == true)
    {
        @Html.ValidationMessage("punchout")
    }
  
    else
    {
        <P> You punched out at @DateTime.Now </p>
    }
}

<p>To view all of your time sheet entries @Html.ActionLink("click here", "TimeSheetEntriesForCurrentUser")</p> 