
@{
    ViewBag.Title = "CompanySelect";
}

<h1>Welcome to BizAssist</h1>


<p>To add a new company @Html.ActionLink("click here","AddCompany","Companies")  </p>

<p>To join a existing company @Html.ActionLink("click here","SelectCompany","Companies")</p>

