
@{
    ViewBag.Title = "GetJobsByDate";
}
<h1>Please select the date you want to view</h1>

<input type="date"class="form-control" name="GetJobsByDate">
    <input class="btn" type="submit" value="submit" />
    


