
@{
    ViewBag.Title = "ConcludeProject";
}

<h2>ConcludeProject</h2>
<p>The client bill has been calculated @Html.ActionLink("click here","Index","ClientBills") to view the bill</p>
<p>The employee pay stubs  has been calculated @Html.ActionLink("click here", "Index", "EmployeePayStubs") to view the amounts</p>

