
@{
    ViewBag.Title = "CreateSelect";
}

<h2>Create Select</h2>
<p>To plan a internal company project @Html.ActionLink("click here", "Create") </p>
<p>To plan a project for a client @Html.ActionLink("click here", "Index", "Clients")  to go to client index and click the link at the side of the client </p>


