
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    <em>
        Whether you are a self employed worker or director of a large company BizAssist is the tool for you.
        Our app makes manageing clients,employees and jobs a breeze
    </em>
</p>


