@{
    ViewBag.Title = "Total time shhet pro";
}


    <h1>Welcome to Total Time Sheet Pro</h1>

 <p>To open a new account @Html.ActionLink("click here","Register","Account")</p>
<p>To login @Html.ActionLink("click here","Login","Account")</p>