
@{
    ViewBag.Title = "NewUser";
}

<h2>NewUser</h2>
<h3>Welcome to TimeSheetPro</h3>
<p>This menu is for new users like <em>you</em> to help you get used to Total Time Sheet pro</p>
<p>To add clients  @Html.ActionLink("click here","Create","Clients")</p>
<p>To add jobs @Html.ActionLink("click here","Create","Projects")</p>

